.lineContainer {
    position: relative;
    width: 100%;
    height: 0.5em;
}

.line {
    position: absolute;
    height: 100%;
    width: 50%;
    border-radius: 10px;
}

.st0 {
    position: absolute;
    height: 100%;
    background-color: black;
}

.st1 {
    height: 100%;
    position: absolute;
    right: 0;
    background-color: var(--color-accent-light);
}

.st2 {
    height: 100%;
    width: calc(100%/3);
    left: calc(100%/3);
    background-color: var(--color-accent);
}