.contactContainer {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 2fr));
  row-gap: 1em;
  padding: 1em 1.5em;
  background-color: var(--color-secondary);
  color: white;
  border-radius: var(--border-radius);
}

.contactElement {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.contactElement a:hover {
  color: var(--color-accent-light);
}
