.main {
    list-style: none;
}

.workExpContainer {
    display: flex;
    margin-bottom: 1em;
}

.workExpContainer>img {
    margin: 0.65em 20px
}

.role {
    color: black;
    font-weight: 600
}

.company {
    font-size: larger;
    font-weight: 400;
}

.date {
    color: var(--color-accent);
    font-style: italic;
    font-size: 0.8em;
    margin: 0.2em 0
}

.descLiContainer {
    display: flex;
    align-items: center;
}

.descLiContainer>img {
    margin-right: 1em;
}